<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Segment Updater</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') -%>
    
    <div class="container-fluid mt-5 px-5">
      <div class="row">
        <div class="px-5 col-mid-10 col-mid-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 order-md-0 order-1 d-flex align-items-start flex-column">
                  <h1>Atul Semwal <a class="text-center" href="https://www.linkedin.com/in/atulsemwal74ba79184/"><img src="images/linkedin.svg" style="height: 20px;" alt="linkedin" srcset=""></a></h1>
                 <p>Data in action! </p>
                  <p>I'm a Adobe Analytics Certified Business Practitioner with 2+ year experience in Data/Web Analyst. I have strategized solutions for a Europe’s largest media company & pay-tv
                   broadcaster, and analysed data to aid product improvement of US based ed-tech firm.</p>
                   <p>My core values are unrelenting determination, hard work, & dedication to one's craft.</p>
                  
              </div>
              <!-- {{!-- right side --}} -->
              <div class="col-md-6 col-12 hero-text order-md-1 order-0 ">
                <figure>
                  <img src="images/me.png" class="w-75" alt="herosection_image">
                </figure>
              </div>
            </div>
        </div>
      </div>
  </div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>