<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') -%>
    <div class="container-fluid mt-5 px-5">
      <h3 class="">About</h3>
      <p>
        The Segment Updater website is still in the development phase. Please
test it first in the Sandbox environment or development environment. I've
set the segment update limit to 50. If you want to update more segments, please contact me at <b>atulsemwal5@gmail.com</b>
      </p>
      <p>
        If you notice any segments that are not updating as you would like, please contact me via email. I'll have it fixed as soon as I can.
      </p>
    </div>
    <div class="container-fluid mt-5 px-5">
      <h3 class="">Data Policy</h3>
      <p>
        Our data policy is extremely stringent. We have put in place adequate safeguard measures to protect the security of your information. (Details of these measures are available upon request). 
        Your data is erased as soon as you exit the website.
      
      </p>
      <h5>You are protected under:</h5>
      <p>
        The Information Technology Act 2000 read with supplementary Rules, acts as the legal cornerstone to ensure the protection of personal information.
        Section 43 (A) of the Information Technology Amendment Act 2008 of India gives the right to object to the processing of personal data concerning you:
        <a href="https://eprocure.gov.in/cppp/rulesandprocs/kbadqkdlcswfjdelrquehwuxcfmijmuixngudufgbuubgubfugbububjxcgfvsbdihbgfGhdfgFHytyhRtMTk4NzY=#:~:text=Insertion%20of%20new%20section%2043A,for%20failure%20to%20protect%20data.&text=Jagulv%20%26%20S%20(iii)%20%22,as%20it%20may%20deem%20fit.">
          eprocure.gov.in/cppp/rulesandprocs
        </a>
      </p>
      
    </div>
    <div class="container-fluid mt-5 px-5">
      <h2>How to Update Segment:</h2>
      <br>
      <h3 class="">Step One</h3>
      <p>
        To obtain the token, corporate id, and api key, check
        <a
          href="https://experienceleague.adobe.com/docs/analytics-learn/tutorials/apis/using-postman-to-make-adobe-analytics-2-0-api-requests.html?lang=en"
          >this Adobe tutorial</a
        >
       
      </p>
      
      <h3 class="">Step Two</h3>
      <p>Once you have the above details filled. You can use three function:</p>
      <ol>
        <li>
          <b>Replace: </b> It replace the dimension definition. Example, if the
          Segment definition had a Page Name = "Home page" dimension, you can
          change it to Page Name = "Home"
        </li>
        <li>
          <b>Regex:</b> You can use Regular Expression to replace dimension
          definition.
          <b>Use double escape <code>\\ </code>for any special character</b>.
          Example, <code>"\\|help\\|click\\|\\|\\|(.*)\\|</code>
        </li>
        <li>
          <b>Add and Replace</b> It will add the replaced dimension definition
          below the old one. In it, you'll have both the old and new dimension
          definition.
        </li>
      </ol>
      <p>Input to fill further:</p>
      <ol>
        <li>
          <b>Old:</b> Input old dimension definition that you want to change
        </li>
        <li><b>New:</b> Input new dimension definition</li>
        <li>
          <b>Dimension to update</b> Input the dimension name that you want to
          change. Don't use prop or var. If prop15 = Page name, use Page name.
        </li>
      </ol>
      <h3 class="">Step Three</h3>
      Click on Submit 😊
    </div>
    <div class="container-fluid mt-5">
      Want to collaborate with me? Drop me an email: atulsemwal5@gmail.com
    </div>
    <div class="container-fluid mt-5 px-5 text-center">
      <hr />
      <footer>
        <p>Made with ❤️ by Atul</p>
      </footer>
    </div>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
  </body>
</html>
