<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Segment Updater</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') -%>
    <div class="container-fluid">
      <div class="container-fluid mt-5 px-5">
        <h2>The following Segments has been updated:</h2>
        <ol>
          <% updated.forEach(seg_name => { %>
          <li><%= seg_name %></li>
          <% }); %>
        </ol>
      </div>

      <div class="container-fluid mt-5 text-center">
        <hr />
        <p>
          Want to collaborate with me? Drop me an email: atulsemwal5@gmail.com
        </p>
      </div>
    </div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
  </body>
</html>
